#wrap {
    margin-bottom: 50px;
}

#title {
    text-align: center;
    font-family: 'Prompt Bold';
    font-size: 24px;
    letter-spacing: 1px;
    margin: 40px 0;
}

#contact {
    width: 200px;
    margin: auto;
    font-family: 'Prompt Regular';
    position: relative;
    height: 200px;
}

#socials {
    margin-top: 10px;
}

.social-svg {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}

#arrow {
    height: 50px;
    width: 50px;
    transform: rotate(250deg);
    position: absolute;
    bottom: 10px;
    left: 55px;
}

#follow {
    transform: rotate(20deg);
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-family: 'Caveat';
    font-size: 25px;
}