#wrap {
    width: 100vw;
    background-color: #2c2c2c;
    color: white;
    font-family: 'OpenSans Regular';
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 16px;
    padding-top: 10px;
}

#content-wrap {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#content-wrap div {
    margin: 0 25px;
}

#sig {
    text-align: center;
    padding: 10px;
}

@media(min-width: 1000px) {
    #content-wrap div {
        margin: 0 150px;
    }
}

