#title {
    height: 40px;
    width: 100vw;
    text-align: center;
    font-family: 'Prompt Bold';
    font-size: 24px;
    letter-spacing: 1px;
}

#address {
    height: 40px;
    width: 100vw;
    text-align: center;
    font-family: 'Prompt Regular';
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

#map-wrap {
    width: 100vw;
}

#map-container {
    width: 375px;
    height: 300px;
    position: relative;
    margin: auto;
}

#map {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 2px solid #00c0B5;
    position: absolute;
    left: 25px;
}

#map img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

#here {
    position: absolute;
    left: 250px;
    top: -30px;
    font-family: 'Caveat';
    font-size: 25px;
}

#arrow {
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    position: absolute;
    top: 10px;
    left: 270px;
}

#content {
    text-align: center;
    font-family: 'OpenSans Regular';
    width: max(300px, calc(100vw - 100px));
    margin: auto;
    line-height: 181%;
    letter-spacing: 0px;
    font-size: 14px;
}

@media(min-width: 1000px) {
    #title {
        font-size: 40px;
    }

    #address {
        font-size: 18px;
        padding-top: 20px;
    }

    #map-wrap {
        display: flex;
        width: 100vw;
        height: 600px;
        
    }

    #map-container {
        width: 400px;
        height: 400px;
        width: 50%;
        position: static;
    }

    #map {
        height: 400px;
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    #map img {
        height: 400px;
        width: 400px;
        border-radius: 100%;
    }
    
    #content {
        width: max(300px, calc(50vw - 500px));

        margin: auto;
        font-size: 18px;

    }

    #here {
        position: absolute;
        left: 400px;
        top: -50px;
        font-family: 'Caveat';
        font-size: 35px;
        width: 150px;
    }
    
    #arrow {
        height: 80px;
        width: 80px;
        transform: rotate(180deg);
        position: absolute;
        top: 10px;
        left: 400px;
    }

    #arrow-wrap {
        height: 400px;
        width: 400px;
        margin: auto;
        position: relative;
    }
}