.nav {
    position: fixed;
    height: 50px;
    width: 100vw;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Prompt SemiBold';
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: #f9f9f9;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

.scroll {
    box-shadow: 0px 1px 10px #999;
    
}

#logo-wrap {
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo-wrap svg {
    width: 32.5px;
    margin: 0 5px;
    background-color: #fff;
}

#mechanics {
    font-family: 'Prompt Regular';
    font-weight: 300;
}

.menu {
    height: 285px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    top: 50px;
    right: 15px;
    text-align: left;
    transition: all 0.5s ease-in-out;
    visibility: visible;
}

.menu ul{
    list-style: none;
    padding-top: 5px;
}

.menu li {
    margin-top: 11px;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    color: #f9f9f9;
}

#bookLink a {
    color: var(--second-color);
}

.menu li a:hover {
    color: var(--prim-light);
}

#bookLink a:hover {
    color: var(--prim-light);
}


.menu.closed {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;

}

.menu.closed ul{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.menu.closed li{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.menu #triangle {
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 10px;
    transition: none;
}

.menu.closed #triangle {
    display:none;
}

@media(min-width: 1000px) {
    .nav {
        font-size: 30px;
    }
    
    .menu {
        height: 425px;
        width: 300px;
        top: 50px;
        right: 50px;
    }
    
    #logo-wrap svg {
        height: 22.5px;
        width: 50px;
        margin: 0 5px;
    }
}