#wrap {
    height: auto;
    width: min(calc(100vw - 110px), 310px);
    background-color: #f9f9f9;
    border: 2px solid;
    border-radius: 0 15px 0 15px;
    margin: 50px auto;
    overflow: hidden;
}

.prof-img {
    height: 180px;
    width: min(calc(100vw - 110px), 310px);
    border-radius: 0 13px 0 0;
    margin: 0;
    padding: 0;    
}

.prof-img img {
    border-radius: 0 13px 0 0;
}

.text-wrap {
    width: min(calc(100vw - 110px), 310px);
    height: auto;
}

.name {
    font-family: 'Prompt Bold';
    font-size: 24px;
    letter-spacing: 1px;
    padding-top: 35px;
    padding-left: 35px;
}

.title {
    font-family: 'Prompt Regular';
    letter-spacing: 0.5px;
    color: #006660;
    padding-left: 35px;
}

.description {
    font-family: 'OpenSans Regular';
    line-height: 20px;
    font-size: clamp(11.5px, 1.25vw, 13px);
    padding: 25px 27.5px 35px 35px;
}

@media(min-width: 1000px) {
    #wrap {
        height: 600px;
        width: 500px;
    }

    .prof-img {
        height: 250px;
        width: 500px;  
    }

    .text-wrap {
        width: 450px;
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
    }

    .name {
        font-size: 35px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 18px;
        line-height: 30px;
    }
}